@page
@model Bank.Application.Host.Pages.Account

@{
    ViewBag.Title = "Личный кабинет";
    Layout = "_Layout";

}

<html lang="Ru">
<head>

</head>
<body>
<h1>Личный кабинет</h1>


@if (!string.IsNullOrEmpty(TempData["ErrorUpdateMessage"] as string))
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<section>
    <h2>Данные пользователя</h2>
    <p>Логин: @Model.ClientInformation.Login</p>
    <p>Имя: @Model.ClientInformation.FirstName</p>
    <p>Фамилия: @Model.ClientInformation.LastName</p>
    <p>Отчество: @Model.ClientInformation.MiddleName</p>
    <p>Зарплата: @Model.ClientInformation.Salary</p>
    <form method="post" asp-page-handler="UpdateClient">
        <div>
            <label for="login">Логин:</label>
            <input type="text" id="login" name="login"/>
        </div>
        <div>
            <label for="firstName">Имя:</label>
            <input type="text" id="firstName" name="firstName"/>
        </div>
        <div>
            <label for="lastName">Фамилия:</label>
            <input type="text" id="lastName" name="lastName"/>
        </div>
        <div>
            <label for="middleName">Отчество:</label>
            <input type="text" id="middleName" name="middleName"/>
        </div>
        <div>
            <label for="salary">Зарплата:</label>
            <input type="number" id="salary" name="salary"/>
        </div>
        <div>
            <button type="submit">Обновить</button>
        </div>
    </form>
</section>

</body>
</html>